.cartItems {
  display: flex;
  justify-content: space-between;
}
.cartImage {
  height: 40px;
  width: 50px;
  border-radius: 10px;
}
.quantityBtn {
  width: 100px;
  background-color: skyblue;
  display: flex;
  justify-content: space-evenly;
}
.cartBtn {
  width: 25px;
}
.price {
  width: 100px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartQuantity {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}
.itemName {
  min-width: 150px;
}
