.cartItems {
  display: flex;
  justify-content: space-between;
}
.cartImage {
  height: 40px;
  width: 50px;
  border-radius: 10px;
}
.quantityBtn {
  width: 100px;

  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
  border-radius: 5px;
}
.cartBtn {
  width: 25px;
  margin: 1px 2px;
}
.price {
  width: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartQuantity {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}
.itemName {
  min-width: 150px;
}
.delBtn {
  color: red;
}
.totalAmount {
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
  margin-right: 1rem;
}
