span {
  color: red;
}

.subject {
  margin-top: 14px;
}

.cta {
  margin-top: 1rem;
}

.signUpBtn {
  border: none;
  border-radius: none;
  background-color: inherit;
  color: blue;
}
.signUp {
  text-align: center;
}

.signInBtn {
  border: none;
  border-radius: none;
  background-color: inherit;
  color: blue;
}
.signIn {
  text-align: center;
}
