span {
  color: red;
}

.subject {
  margin-top: 14px;
}

.cta {
  margin-top: 1rem;
}

.signUpBtn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: red;
  cursor: pointer;
}
.signUpBtn:hover {
  color: red;
  scale: 1.1;
}
